<div class="span-11">
<%= image_tag "save_the_date_polaroid.png", :id => "polaroid"%>
</div>
<div id="homecontent" class="span-11 last">
<h1 class="prepend-1">Welcome!</h1>

<p id="first_letter">Hello, family and friends, and welcome to our wedding website. We are so excited that this day is almost upon us, and can't wait to share this moment in our lives with you.</p>

<p id="first_letter">The wedding is in Brown County State Park. The reception is at the Harrison Center for the Arts in Indianapolis. We know that's a bit of drive in-between, so please know that you are <i><b>more than welcome</i></b> to just come celebrate with us at the reception. We just want to be able to celebrate our day with you!</p>

<p id="first_letter">Whatever your plans, please fill out an RSVP letting us know. Don't forget to add anyone you're bringing, and if your plans change you can always come back and update us.</p>

<p id="first_letter">This is a laid back event, so feel free to come in casual dress or formal wear that you'll be comfortable in.</p>



</div>
