<div id="story" class="span-22 last prepend-1">
<h1>Our Story...</h1>

<div id="rothfuss_talk_2007"><%= image_tag "rothfuss_talk_2007.jpg"%><p id="caption">The cover seen here came to be known as the "Fabio cover", for obvious reasons. Thankfully, this is not the cover that Julianne and I own.</p></div>

<p id="first_letter">It's 2007, and Patrick Rothfuss has just released his debut fantasy novel, <i>The Name of the Wind</i>. Geeky library-girl Mary Earle, childhood friend of our hero, and friend and coworker of our heroine, reads this book and determines it to be the greatest thing since homogeneously pre-cut bread. She finds Patrick's profile on the now-thankfully-semi-defunct-and-inconsequential social networking site Myspace, and sends him a message praising his book. Patrick replies, a conversation ensues, and he agrees to participate in an author talk at the Wayne library while in Indianapolis for GenCon that August.</p>



<p id="first_letter">Mary invites all of her friends and coworkers to attend, and lo and behold, our dynamic duo, Nathan and Julianne, are both in the audience that eve. Patrick is immediately likable with his intelligent stories, witty asides, and promises of the next book within a year. Nathan and Julianne both buy a copy of his book and get it signed. They even join Mary, Patrick, and a small group of others, at the local Starbucks for coffee afterwards. Alas, even given their current proximity, at the same table in the same coffee shop, the universe thought it a little too soon, and they were not even introduced to each other.</p>

<div id="NOTW_signed" class="prepend-1"><%= image_tag "NOTW_signed.jpg"%><p id="caption">Our signed copies of <i>The Name of the Wind.</i></p></div>

<p id="first_letter">It's 2008, and Patrick Rothfuss has <i><b>not</i></b>&nbsp just released the second book of the trilogy. Nonetheless, Mary has arranged another author talk for Patrick, this time at the Central library. Our heroes, both having enjoyed the book and the previous year's event, decide to attend this one as well. This time, however, the universe has seen the light and is ready to introduce our couple. After the talk, when another coffee shop visit has been decided upon, Patrick, Mary, Nathan and Julianne walk across the street to The Abbey where they enjoy good conversation, many laughs, and general merriment. Thus, the seeds of fate are sown.</p>

<p id="first_letter">Our heroes meet once again, shortly thereafter, when <s>meddlesome</s> match-maker Mary invites them both to a Game Night at her house, telling each that the other will be in attendance.  Nathan and Julianne talk until the wee hours of the morning. A couple of weeks later, on September 21, 2008, they are going on their first date.</p>

<p id="first_letter">It's 2009, and Patrick Rothfuss has <i><b>still not</i></b>&nbsp just released the second book of the trilogy.</p>

<p id="first_letter">It's 2010, and Patrick Rothfuss has <i><b>still not</i></b>&nbsp just released the second book of the trilogy.</p>

<p id="first_letter">It's January 17, 2011, and Patrick Rothfuss is just getting ready to release the second book of the trilogy. Nathan and Julianne have travelled to Clifty Falls State Park, and are admiring the falls, in all their icy winter beauty, when Nathan gets down on one knee, and tells Julianne how much he loves her. He asks if she would spend the rest of her life with him. She says "yes"!!!</p>

<div id="engagement" class="prepend-1"><%= image_tag "engagement.jpg", :id => "engagement_img"%><p id="caption">Nathan asks Julianne to hold his camera, and procedes to kneel on the ground. She snaps this photo of him before finally realizing what is going on. Nathan takes a photo of her and her new ring just after proposing.</p></div>

<p id="first_letter">It's 2012, and it is almost time for our heroes to stand in front of their family and friends, make their solemn vows to each other, and begin the next phase of this beautiful adventure that they have been on.</p>

<p id="first_letter">They are looking forward to sharing and celebrating this moment with you.</p>

</div>