<div class="span-13 map">
	<div class="prepend-1">
	<p>
	<iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Harrison+Center+For+the+Arts,+Indianapolis,+IN&amp;aq=0&amp;sll=39.573939,-85.816956&amp;sspn=1.428991,2.90863&amp;vpsrc=6&amp;gl=us&amp;ie=UTF8&amp;hq=Harrison+Center+For+the+Arts,&amp;hnear=Indianapolis,+Marion,+Indiana&amp;t=m&amp;ll=39.784532,-86.147232&amp;spn=0.09234,0.171661&amp;z=12&amp;iwloc=&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Harrison+Center+For+the+Arts,+Indianapolis,+IN&amp;aq=0&amp;sll=39.573939,-85.816956&amp;sspn=1.428991,2.90863&amp;vpsrc=6&amp;gl=us&amp;ie=UTF8&amp;hq=Harrison+Center+For+the+Arts,&amp;hnear=Indianapolis,+Marion,+Indiana&amp;t=m&amp;ll=39.784532,-86.147232&amp;spn=0.09234,0.171661&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</p>
	</div>
</div>

<div class="span-11 last">
	<p>
		<%= link_to(image_tag("har_logo.gif", 
				:class => "prepend-2"), "http://www.harrisoncenter.org") %>
	</p>
	<div class="prepend-2" id="address">
		<p>
			<h3>Harrison Center for the arts</h3><br />
		<b>1505 North Delaware<br />
				Indianapolis, IN 46202</b><br />
		</p>
		<p>Cocktails and snacks will be served in the main gallery between two and 
			four p.m. The reception will be held in the gymnasium beginning at four p.m.
		</p>
	</div>
</div>

