<div id="story" class="span-22 last">
	
	<div id="photos" class="span-9 last">
	<div id="steve_smith"><%= image_tag "steve_smith.jpg"%><p id="caption">Steve Smith</p></div>
	<div id="jeff_rooks"><%=image_tag "jeff_rooks.jpg"%><p id="caption">Jeff Rooks</div>
	
</div>

	<div id="music_birds"><%= image_tag "music_birds.jpg"%></div>

	<div id="trial" class="prepend-1">
	<h3 id="first_letter">Our reception...</h3>
	<p id="first_letter">The reception will be at the Harrison Center for the Arts. The center is located at 16th and Deleware in Indianapolis. There is a small parking lot behind the building, and street parking is available.</p>
<p id="first_letter">Cocktails and snacks will be served in the main gallery between two and 
			four p.m. The reception will be held in the gymnasium beginning at four p.m.
		</p>
		<p id="first_letter">We're going to have some wonderful live music!</p>

		<p id="first_letter">Our good friend, singer/songwriter/groomsman Steve Smith, will be rocking the house with his guitar jams and awesome vocals.</p>

		<p id="first_letter">Jeff Rooks, who we first met at the Fisher's Renaissance Faire on what was pretty much our second or third date, will be entertaining us with beautiful and fun renaissance and folk music.</p>
</div>
<div id="address" class="prepend-4"><%= link_to(image_tag("har_logo.gif", 
						:class => ""), "http://www.harrisoncenter.org") %>
						<p id="caption">Harrison Center for the arts<br />
							<b>1505 North Delaware<br />
								Indianapolis, IN 46202</b><br /></p>
	</div>


<div class="span-13 map" id="reception_map">
	<div class="prepend-5">
	<p>
	<iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Harrison+Center+For+the+Arts,+Indianapolis,+IN&amp;aq=0&amp;sll=39.573939,-85.816956&amp;sspn=1.428991,2.90863&amp;vpsrc=6&amp;gl=us&amp;ie=UTF8&amp;hq=Harrison+Center+For+the+Arts,&amp;hnear=Indianapolis,+Marion,+Indiana&amp;t=m&amp;ll=39.784532,-86.147232&amp;spn=0.09234,0.171661&amp;z=12&amp;iwloc=&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Harrison+Center+For+the+Arts,+Indianapolis,+IN&amp;aq=0&amp;sll=39.573939,-85.816956&amp;sspn=1.428991,2.90863&amp;vpsrc=6&amp;gl=us&amp;ie=UTF8&amp;hq=Harrison+Center+For+the+Arts,&amp;hnear=Indianapolis,+Marion,+Indiana&amp;t=m&amp;ll=39.784532,-86.147232&amp;spn=0.09234,0.171661&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</p>
	</div>


</div>




</div>



