

<div class="type span-22 last prepend-1">
  <p id="first_letter">While gifts are welcome, they are not required. The gift of your company is more than enough.</p>
  <p id="first_letter">However, iffin' you want, we are registered at Bed, Bath, and Beyond and Target, and we love surprises, too.</p>
</div>

<div class="span-24">
  <div id="BBB" class="prepend-4"><%= link_to(image_tag("logo_bbb.jpg"), "http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-1958257288&", :target => "_blank")%></div>
  <div id="target" class="prepend-1"><%= link_to(image_tag("target_logo.jpg"), "http://www.target.com/wedd/registry/YPoYYyeuCxrgBWx9ih8c2A", :target => "_blank")%></div>

  <div id="perkeo" class="prepend-4"><%=image_tag "perkeo.jpg"%><p id="caption">Would you believe that the Tusken Raider (in the middle) in this photo, is the man who will be marrying us?</div>
</div>



