<div class="span-24">
  <div id="BBB" class="span-11 prepend-2"><%= link_to(image_tag("logo_bbb.gif"), "http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-1958257288&", :target => "_blank")%></div>
  <div id="target" class="span-11"><%= link_to(image_tag("target_logo.gif"), "http://www.target.com/wedd/registry/YPoYYyeuCxrgBWx9ih8c2A", :target => "_blank")%></div>
</div>

<div class="type span-22 last prepend-1">
  <p>We are registered at Bed, Bath, and Beyond and Target.
  </br>
  </br>
  In addition, here are some general types of things that we like:
    <ul>
      <li>Candles</li>
      <li>Cookware</li>
    </ul>
  </p>
</div>

