<div id="story" class="span-22 last">
<div id="love_birds"><%= image_tag "lovebirds.jpg"%></div>

<div id="wedding_info" class="prepend-1">
<h3 id="first_letter">Our wedding...</h2>


  <div id="umbrella"><%=image_tag "umbrella.jpg"%><p id="caption">Don't forget your umbrellas!!</p></div>
<p id="first_letter">We are getting married in the outdoor amphitheatre behind the Abe Martin Lodge in Brown County State Park.</p>
<p id="first_letter">The ceremony will begin at Noon on Saturday, May 19th, 2012.</p>
<p id="first_letter">When you arrive at the park entrance, just tell the guard that you are attending the Thompson/Nontell wedding, and there shouldn't be a charge.</p>
<p id="first_letter">Mr. Jeff Rooks will be providing the music for the ceremony on the hammered dulcimer.</p>
<p id="first_letter">This is a rain or shine event, so don't forget your umbrellas! You're welcome to dress in casual clothes or formal wear that you'll be comfortable in.</p>




</div>


<div class="map" id="wedding_map">
<p class="prepend-1">
<iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?ie=UTF8&amp;q=abe+martin+lodge&amp;fb=1&amp;gl=us&amp;hq=abe+martin+lodge&amp;hnear=0x886b50ffa7796a03:0xd68e9df640b9ea7c,Indianapolis,+IN&amp;cid=0,0,12070564010890815678&amp;t=m&amp;vpsrc=6&amp;ll=39.440435,-86.050415&amp;spn=0.742399,1.373291&amp;z=9&amp;iwloc=&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?ie=UTF8&amp;q=abe+martin+lodge&amp;fb=1&amp;gl=us&amp;hq=abe+martin+lodge&amp;hnear=0x886b50ffa7796a03:0xd68e9df640b9ea7c,Indianapolis,+IN&amp;cid=0,0,12070564010890815678&amp;t=m&amp;vpsrc=6&amp;ll=39.440435,-86.050415&amp;spn=0.742399,1.373291&amp;z=9&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
</div>
</div>

