<div class="prepend-1"
<p>
  <h1>Guests:</h1> 
<table id="table-5" class="table">
<thead><th>Name</th><th>Wedding</th><th>Reception</th></thead>
<tbody>
   <% @rsvps.each do |rsvp| %>
   <% for guest in rsvp.guests %>
     <tr><td><%=h guest.name %></td>
         <td><%= guest.wedding.capitalize %></td>
         <td><%= guest.reception.capitalize %></td>
     </tr>
   <% end %>
   <% end %>
</tbody>
</table>
</p>
</div>