<footer id="pageFooter">
<%= debug(params) %>
<% if signed_in? %>
  <li>Signed in as <%= current_user.email %> <%= link_to "Logout", logout_path %></li>
<% else %>
  <li><%= link_to "Login", login_path %></li>
<% end %>
</footer>

